html, body, *{
    box-sizing: border-box;
}

.container{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
form > *{
    display: block;
}
form > button{
    display: block;
    width: 100%;
    height: 24px;
}
form > input {
    margin-bottom: 1.5rem;
}
form > label {
    font-size: smaller;
    margin-bottom: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
form > label > input{
    margin-left: .5rem;
    width: 250px;
    height: 24px;
}
.container > h1{
    text-align: center;
}